/* ===== Common styles==== */
h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
list-style-type: none;
margin-top: 0;
margin-left: 0;
padding-left: 0;
margin-bottom: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
  display: block;
}
button {
    cursor: pointer;
}

body {
 font-family: "Roboto",sans-serif;  
 color: #434455;
 background-color: #fff;  
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* ==== / Common styles==== */

  
/* ====Header styles==== */

.page-header{
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16),
  0px 1px 6px rgba(46, 47, 66, 0.08);
}

.heder-container {
  display: flex;
  align-items: center;
}

.page-nav{
  display: flex;
  align-items: center;
 
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;

}

.menu {
  display: flex;
  gap: 40px;
}

.text-color{
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover, 
.menu-link:focus {
  color: #404bbf;
}

.current{
  position: relative;
  color: #404bbf
}

.current::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.main-contacts{
  font-style: normal; 
  margin-left: auto;   
}
.contacts {
  display: flex;
  gap: 40px;
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-top: 24px;
  padding-bottom:24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;}

/* ==== / Header styles==== */

/* ====Hero section==== */

.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
  background-size: cover;   
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.main-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}
.main-btn {
  background-color: #4d5ae5;  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
}
.main-btn:hover,
.main-btn:focus {
  background-color: #404BBF;  
}
/* ====/Hero section==== */

/* ====Top section==== */
.top-section{
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  display: block;
}

.top-section-list {
  display: flex;
  gap: 24px;
}

.top-section-list-item {
  width: calc((100% - 72px) / 4);
}

.icon-centr {
  max-width: 264px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  background: #f4f4fd; 
 }

.top-section-list-title {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: #2e2f42;
       margin-bottom: 8px;
}
.top-section-list-text {
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;
        
}
/* ====Team==== */
.team {
       background-color: #f4f4fd;
       padding: 120px 0;

}
.team-list {
       display: flex;
       gap: 24px;

}

.team-titel {
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.02em;
       text-transform: capitalize;
       text-align: center;
       color: #2e2f42;
       margin-bottom: 72px;
}
.team-list-titel {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       text-align: center;
       color: #2e2f42;
       margin-bottom: 8px;
}
.team-list-text {
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       text-align: center;
       color: #434455;
}

.icon-team-block{
  display: flex;
  justify-content: center;
  gap: 24px;
  background-repeat: no-repeat;
  background-position:center;
}
.icon-link{
width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  .svg-href{
  fill: #f4f4fd;
}

.icon-link:hover,
.icon-link:focus{
  background-color: #404bbf;
}
.team-list-item{
       background-color: #fff;
       width: calc((100% - 72px) / 4);
       border-radius: 0px 0px 4px 4px;
       box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.container-tag{
padding: 32px 0;}


/* ====Portfolio====*/

.portfolio {
  background: #fff;
  padding: 120px 0;
}

.portfolio-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.container-icon{
       padding: 32px 16px;
       border: 1px solid #e7e9fc;
       border-top: none;
}
.portfolio-list-item {
       background-color: #fff;
       width: calc((100% - 48px) / 3);
       transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-list-item:hover {
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
0px 1px 1px 0px rgba(46, 47, 66, 0.16),
0px 1px 6px 0px rgba(46, 47, 66, 0.08);}

.portfolio-list-item:hover .text-app{
  transform: translateY(0%);
}


.app-img{
  position:relative ;  
  overflow: hidden;
}

.text-app{
position: absolute;
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
top:0;
height: 100%;
width:100%;
padding: 40px 32px;
background-color: #4d5ae5;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-img:hover .text-app{
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-titel {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: #2e2f42;
       margin-bottom: 8px;
    }

.portfolio-list-text {
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;
}
/* ====/Portfolio */

/*====Footer section====*/

.section-footer {

      background-color: #2e2f42;
      padding: 100px 0; 
} 

.footer-container-one {
     margin-right: 120px;
 
}

.footer-container-two{
  margin-right: 120px;

}
  .main-icon {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  /* margin-left: 156px; */
  display: inline-block;

}

.icon-item {
 color: #f4f4fd;

}
.main-icon-text {
  font-weight: 400;
  max-width: 264px;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #f4f4fd;
 /* margin-left: 156px; */
}

.footer-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
  text-align: left;
}

.footer-list{
display: flex;
gap: 16px;
  
}

.footer-link{
width: 40px;
height: 40px;
}

.footer-link-icon{
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 120px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: #31d0aa;
}

.svg-footer{
  fill:  #f4f4fd;
  display: flex;}

  .footer-subscribe{


  }

.footer-subscribe-text{
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: white;
}

.footer-subscribe-form{
  display: flex;
  gap: 24px;
}

.footer-form-email{
  width: 264px;
  height: 40px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: white;
}

.footer-form-email::placeholder{
  color: white;
}
.footer-form-btn{
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:"Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: white;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;

}
.footer-form-btn-svg{
margin-left: 16px;
}

/* Modal Window */
.modal-overlay{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
opacity: 0;
pointer-events: none;
visibility: hidden;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-overlay .is-open {
  opacity: 1;
  pointer-events: none; 
  visibility: visible;

}
.modal-window {
  
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
background: #fcfcfc;
border-radius: 4px;
width: 408px;
min-height: 584px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}

.modal-close-button{
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}
.modal-close-button-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    /* margin-top: 72px; */
    margin-bottom: 16px;
  }

  .form-container{
    margin-bottom: 8px;
    /* margin-left: 24px; */
  }
 
  .form-label{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
  }
  
 .form-label-wrap{
    position: relative;
 }
 
 .form-label-input{
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.form-label-input:focus{
  border: 1px solid #4d5ae5;
}

 .form-name-input-icone{
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2E2F42;
}

 .form-label-input:focus+ .form-name-input-icone{
  fill: #4d5ae5;
 }

 .form-container-comment{
  margin-bottom: 16px;
  /* margin-left: 24px; */
 }

 .form-label-textarea{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.form-label-textarea:focus{
 border-color: #4D5AE5;
}

.box-container{
  border-radius: 4px;
  width: 360px;
  height: 16px;
  margin-bottom: 24px;
  /* margin-left: 24px; */
  
}

.box-container-input:checked +.box-container-label .box-container-label-span{
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.box-container-label-span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;


}
.box-container-label{
 font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;   
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  
}

.box-container-text {
  color: #4d5ae5;
}

.container-btn{
  display: block;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.container-btn:hover,
.container-btn:focus{
  background-color: #404BBF;
}