/* ===== Common styles==== */
h1,h2,h3,h4,h5,h6,p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
list-style-type: none;
margin-top: 0;
margin-left: 0;
padding-left: 0;
margin-bottom: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
  display: block;
}
button {
    cursor: pointer;
}

body {
 font-family: "Roboto",sans-serif;  
 color: #434455;
 background-color: #fff;  
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* ==== / Common styles==== */

  
/* ====Header styles==== */

.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.heder-container {
        display: flex;
       align-items: center;
}
.page-nav{
  display: flex;
  align-items: center;
 
}
.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;

}
.menu {
display: flex;
gap: 40px;
}
.text-color{
       color: #2e2f42;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}
.main-contacts{
       font-style: normal; 
       margin-left: auto;   
}
.contacts {
       display: flex;
       gap: 40px;
}
.contact-link {
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;
       padding-top: 24px;
       padding-bottom:24px;
       display: block;
}

.menu-link:hover, 
.menu-link:focus {
        color: #404bbf;}

.contact-link:hover,
.contact-link:focus {
       color: #404bbf;}

/* ==== / Header styles==== */

/* ====Hero section==== */

.hero {
       background-color: #2e2f42;
       /* width: 1440px; */
       text-align: center;
       padding: 188px 0;
   }

.main-title {
       max-width: 496px;
       font-weight: 700;
       font-size: 56px;
       line-height: 1.07;
       letter-spacing: 0.02em;
       color: #fff;
       margin-right: auto;
       margin-left: auto;
       margin-bottom: 48px;
}
.main-btn {
       background-color: #4d5ae5;  
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       color: #fff;
       border-radius: 4px;
       min-width: 169px;
       height: 56px;
       border: none;
       padding: 16px 32px;
       margin: 0 auto;
       display: block;
}
.main-btn:hover,
.main-btn:focus {
       background-color: #404BBF; 
}
/* ====/Hero section==== */

/* ====Top section==== */
.top-section{
       padding: 120px 0;
}

.visually-hidden {
  /* font-weight: 500; */
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;
       white-space: nowrap;
       clip-path: inset(100%);
       clip: rect(0 0 0 0);
       overflow: hidden;
       display: block;
}
.top-section-list {
       display: flex;
       gap: 24px;
 
}
.top-section-list-item {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: #2e2f42;
       background-color: #FFFFFF;
       display: flex;
       flex-grow: calc((100% - 72px) / 4);
       max-width: 264px;
       flex-wrap: wrap;
}
.top-section-list-title {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: #2e2f42;
       margin-bottom: 8px;
}
.top-section-list-text {
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: #434455;


   
}
/* ====Team==== */
.team {
       background-color: #f4f4fd;
/* width: 1440px; */
       padding: 120px 0;

}
.team-list {
       display: flex;
       /* flex-wrap: wrap; */
       gap: 24px;

}

.team-titel {
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.02em;
       text-transform: capitalize;
       text-align: center;
       color: #2e2f42;
       margin-bottom: 72px;
/* margin-top: 120px; */
}
.team-list-titel {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       text-align: center;
       color: #2e2f42;
       margin-bottom: 8px;
}
.team-list-text {
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       text-align: center;
       color: #434455;
}
.team-list-item{
       background-color: #fff;
       width: calc((100% - 72px) / 4);
       border-radius: 0px 0px 4px 4px;
       box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
/* ====Portfolio====*/

.portfolio-container {
  width: 1128px;
}
.portfolio {
    background: #fff;
    margin-bottom: 120px;
}

.portfolio-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
flex-wrap: wrap;
row-gap: 48px;
column-gap: 24px;
}
.portfolio-list-item {
background-color: #fff;
width:calc((100%-72)/3)

}
.portfolio-list-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
    }

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* ====/Portfolio */

/*====Footer section====*/
.section-footer {
    background-color: #2e2f42;
    padding: 120px 0;

}
.main-icon{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
display: inline-block;
}
.icon-item {
color: #f4f4fd;
}
.main-icon-text {
  max-width: 264px;
  font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
